.header{  
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
   padding: 10px 0;
}

.conteudo > .header-li{
   display: flex;
   gap: 15px;
}


.btn-criar-curso{
  background-color: #0e6fff;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 14px;
}
.btn-criar-curso:hover{
   background-color: #0b4193;
}

