li{
   display: flex;
   margin-bottom: 15px;
   border-radius: 8px;
   background-color: #1C1C1E;
   padding: 15px;
   width: 100%;
}

.conteudo{
   width: 100%;
}

.opcoes{
   display: flex;
   gap: 20px;
}
.opcoes svg{
   transform: translateY(-100%);
   width: 22px;
}
.opcoes svg:hover{
   color: rgb(144, 144, 144);
}

.p-li{
   margin: 10px 0;
   color: #8E8E93;
}

.status-ativo{
   background-color: rgba(10, 132, 255, 0.1);
   padding: 4px 16px;
   border-radius: 20px;
   font-size: 15px;
   color: #0A84FF;
}
.status-inativo{
   background-color: transparent;
   padding: 4px 16px;
   border-radius: 20px;
   font-size: 15px;
   color: #A5A5A5;
}