li{
   display: flex;
   margin-bottom: 15px;
   border-radius: 8px;
   background-color: #131317;
   padding: 15px;
   width: 100%;
}

.conteudo{
   width: 100%;
}

.opcoes{
   display: flex;
   gap: 20px;
}
.opcoes svg{
   transform: translateY(-100%);
   width: 22px;
}
.opcoes svg:hover{
   color: rgb(144, 144, 144);
}

.p-li{
   margin: 10px 0;
   color: rgb(133, 133, 133);
}

.status-ativo{
   background-color: rgba(50, 7, 112, 0.286);
   padding: 4px 16px;
   border-radius: 20px;
   font-size: 15px;
   color: rgb(123, 19, 235);
}
.status-inativo{
   background-color: transparent;
   padding: 4px 16px;
   border-radius: 20px;
   font-size: 15px;
   color: rgb(165, 165, 165);
}