.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1C1C1E;
    padding: 20px;
    border-radius: 8px;
    z-index: 1001;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    margin: 0;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.input-curso, .input-descreva {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 16px;
    background-color: #1c1c1e;
    border: 1px solid #3a3a3c;
    border-radius: 7px;
    color: white;
    font-size: 14px;
}

.input-curso:focus,
.input-descreva:focus {
    outline: none;
    border-color: #0A84FF;
}

.input-descreva {
    height: 100px;
    font-size: 12px;
    resize: vertical;
}

.input-curso::placeholder,
.input-descreva::placeholder {
    color: #8e8e93;
}


.cancell-button, .open-curso {
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

.cancell-button {
    background-color: transparent;
    color: #a5a5a5;
}

.cancell-button:hover {
    color: white;
}

.open-curso {
    background-color: #0A84FF;
    color: white;
}
.status-curso{
    display: flex;
    justify-content: start;
    text-align: center;
    flex-direction: column;
}
.status-curso2 {
    color: #8e8e93;
}


.button-move {
    display: flex;
    justify-content: end;
}

.status-toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.button-container {
    display: flex;
    margin-top: 30px;
    gap: 10px;
}

.button-container > button {
    flex: 1;
}